# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
# Import reduce from functools, numpy and pandas
import numpy as np
import pandas as pd
from functools import reduce

# Challenge 1 - Mapping

#### We will use the map function to clean up words in a book.

In the following cell, we will read a text file containing the book The Prophet by Khalil Gibran.

In [19]:
# Run this code:

location = '../data/58585-0.txt'
with open(location, 'r', encoding="utf8") as f:
    prophet = f.read().split(' ')

#### Let's remove the first 568 words since they contain information about the book but are not part of the book itself. 

Do this by removing from `prophet` elements 0 through 567 of the list (you can also do this by keeping elements 568 through the last element).

In [20]:
# your code here
print(type(prophet))
print(f"List length is {len(prophet)}")
prophet = prophet[568:]
print(f"List length after removal is {len(prophet)}")

<class 'list'>
List length is 13637
List length after removal is 13069

If you look through the words, you will find that many words have a reference attached to them. For example, let's look at words 1 through 10.

In [21]:
# your code here
words_1_10 = [elem for elem in prophet[:10]]
print(words_1_10)

['PROPHET\n\n|Almustafa,', 'the{7}', 'chosen', 'and', 'the\nbeloved,', 'who', 'was', 'a', 'dawn', 'unto']

#### The next step is to create a function that will remove references. 

We will do this by splitting the string on the `{` character and keeping only the part before this character. Write your function below.

In [29]:
def reference(x):
    '''
    Input: A string
    Output: The string with references removed
    
    Example:
    Input: 'the{7}'
    Output: 'the'
    '''
    
    # your code here
    return x.split('{')[0]

reference(words_1_10[1])

'the'

Now that we have our function, use the `map()` function to apply this function to our book, The Prophet. Return the resulting list to a new list called `prophet_reference`.

In [30]:
# your code here
prophet_reference = list(map(reference,prophet))
prophet_reference[1]

'the'

Another thing you may have noticed is that some words contain a line break. Let's write a function to split those words. Our function will return the string split on the character `\n`. Write your function in the cell below.

In [41]:
def line_break(x):
    '''
    Input: A string
    Output: A list of strings split on the line break (\n) character
        
    Example:
    Input: 'the\nbeloved'
    Output: ['the', 'beloved']
    '''
    
    # your code here
    splitX = x.split('\n')
    x = []
    for elem in splitX:
        if elem != '':
            x.append(elem)
    return x
    
line_break('PROPHET\n\n|Almustafa,')

['PROPHET', '|Almustafa,']

Apply the `line_break` function to the `prophet_reference` list. Name the new list `prophet_line`.

In [44]:
# your code here
prophet_line = list(map(line_break,prophet_reference))
prophet_line[0]

['PROPHET', '|Almustafa,']

If you look at the elements of `prophet_line`, you will see that the function returned lists and not strings. Our list is now a list of lists. Flatten the list using list comprehension. Assign this new list to `prophet_flat`.

In [49]:
# your code here
prophet_flat = [x for elem in prophet_line for x in elem]
print(prophet_line[:2])
print(prophet_flat[:3])

[['PROPHET', '|Almustafa,'], ['the']]
['PROPHET', '|Almustafa,', 'the']

# Challenge 2 - Filtering

When printing out a few words from the book, we see that there are words that we may not want to keep if we choose to analyze the corpus of text. Below is a list of words that we would like to get rid of. Create a function that will return false if it contains a word from the list of words specified and true otherwise.

In [55]:
def word_filter(x):
    '''
    Input: A string
    Output: True if the word is not in the specified list 
    and False if the word is in the list.
        
    Example:
    word list = ['and', 'the']
    Input: 'and'
    Output: False
    
    Input: 'John'
    Output: True
    '''
    
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    return (x not in word_list)

prophet_filter = list(filter(word_filter,prophet_flat))
print(prophet_flat[:4])
print(prophet_filter[:4])

['PROPHET', '|Almustafa,', 'the', 'chosen']
['PROPHET', '|Almustafa,', 'chosen', 'beloved,']

Use the `filter()` function to filter out the words speficied in the `word_filter()` function. Store the filtered list in the variable `prophet_filter`.

# Bonus Challenge

Rewrite the `word_filter` function above to not be case sensitive.

In [73]:
def word_filter_case(x):
   
    word_list = ['and', 'the', 'a', 'an']
    
    # your code here
    return (x.lower() not in word_list)

# Challenge 3 - Reducing

#### Now that we have significantly cleaned up our text corpus, let's use the `reduce()` function to put the words back together into one long string separated by spaces. 

We will start by writing a function that takes two strings and concatenates them together with a space between the two strings.

In [64]:
def concat_space(a, b):
    '''
    Input:Two strings
    Output: A single string separated by a space
        
    Example:
    Input: 'John', 'Smith'
    Output: 'John Smith'
    '''
    
    # your code here
    return (f"{a} {b}")

Use the function above to reduce the text corpus in the list `prophet_filter` into a single string. Assign this new string to the variable `prophet_string`.

In [67]:
# your code here
prophet_string = reduce(concat_space,prophet_filter)

# Challenge 4 - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will connect to Ironhack's database and retrieve the data from the *pollution* database. Select the *beijing_pollution* table and retrieve its data.

In [12]:
# recall that pollution is not among the databases provided to us...
# therefore, I will introduce another database of bejing pollution from:
# http://archive.ics.uci.edu/ml/datasets/Beijing+Multi-Site+Air-Quality+Data#

# your code here
from sqlalchemy import create_engine
import pymysql

driver = 'mysql+pymysql'
user = 'root'
password = '4010_Aps_Aps'
ip = 'localhost:3306'
connection_string = f'{driver}://{user}:{password}@{ip}'
db_connection = create_engine(connection_string)
sqlAction = "SELECT * FROM pollution_beijing.`aotizhongxin_2013_03-2017_03`;"

df = pd.read_sql_query(sqlAction, db_connection)

Let's look at the data using the `head()` function.

In [13]:
# your code here
df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4,4,4,7,300,77,-0.7,1023.0,-18.8,0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8,8,4,7,300,77,-1.1,1023.2,-18.2,0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7,7,5,10,300,73,-1.1,1023.5,-18.2,0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6,6,11,11,300,72,-1.4,1024.5,-19.4,0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3,3,12,12,300,72,-2.0,1025.2,-19.5,0,N,2.0,Aotizhongxin

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [15]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # your code here
    return x/24

2.0

Apply this function to the columns `Iws`, `Is`, and `Ir`. Store this new dataframe in the variable `pm25_hourly`.

In [19]:
# your code here
pm25_hourly = df[['PM2.5','PM10','NO2']].apply(hourly)
pm25_hourly

          PM2.5      PM10       NO2
0      0.166667  0.166667  0.291667
1      0.333333  0.333333  0.291667
2      0.291667  0.291667  0.416667
3      0.250000  0.250000  0.458333
4      0.125000  0.125000  0.500000
...         ...       ...       ...
31871  0.500000  1.208333  1.458333
31872  0.541667  1.541667  1.875000
31873  0.666667  1.541667  2.750000
31874  0.875000  1.833333  3.625000
31875  0.791667  1.291667  3.291667

[31876 rows x 3 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [46]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962 --> this number seems incorrect
    '''
    
    # your code here
    meanX = x.mean()
    countX_1 = x.count()-1
    return (x.apply(lambda y:(y-meanX)**2).sum()/countX_1)**0.5

print('My Std version (un-biased):')
print(pm25_hourly[['PM2.5','PM10','NO2']].apply(sample_sd))

print('\nPandas Std version (un-biased):')
print(pm25_hourly.std())

print('\nNumpy Std version (biased):')
print(np.std(pm25_hourly))

My Std version (un-biased):
PM2.5    3.352521
PM10     3.904445
NO2      1.545488
dtype: float64

Pandas Std version (un-biased):
PM2.5    3.352521
PM10     3.904445
NO2      1.545488
dtype: float64

Numpy Std version (biased):
PM2.5    3.352469
PM10     3.904384
NO2      1.545464
dtype: float64